.set {
    padding-left: 50px;
}
h1 {
    color: blue;
    padding-left: 5px;
}
h2 {
    color: steelblue;
}
h3 {
    color: blue;
}
h4 {
    color: midnightblue;
}
#main {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}